<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drop XML</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="topmenu :: topMenu"></div>
<div class="upload-container">
  <h1>DROP XML</h1>

  <form th:action="@{/private/xml/upload}" method="post" enctype="multipart/form-data">
    <div class="custom-file-upload">
      <label for="file-upload" class="custom-file-label">Choose XML File</label>
      <input id="file-upload" class="file-input" type="file" name="file" accept=".xml" required>
    </div>
    <button class="upload-button" type="submit">Upload & Process</button>
  </form>
</div>
</body>
<script>
  document.getElementById("file-upload").addEventListener("change", function(){
    var fileName = this.files[0].name;
    var label = this.previousElementSibling; // The label before the input
    label.innerHTML = fileName;
  });
</script>
</html>
