<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

</head>
<body>
<div th:replace="topmenu :: topMenu"></div>
<div class="login-container">
  <h1>LOGIN</h1>
  <div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
  </div>
  <div class="form-container">
    <form th:action="@{/login}" th:object="${user}" method="post">
      <div class="input-box">
        <input type="text" placeholder="USERNAME" th:field="*{username}" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="PASSWORD" th:field="*{password}" required>
      </div>
      <div class="button-box">
        <button class="login-button" type="submit">LOGIN</button>
      </div>
    </form>

    <form th:action="@{/signup}" method="get">
      <div class="button-box">
        <button class="signup-button" type="submit">SIGNUP</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>
