<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{topmenu :: topMenu}"></div>

<div class="menu-container">
  <h1>MENU</h1>
  <div class="form-container">
    <form th:action="@{/drop}" method="get">
      <div class="button-box">
        <button class="menu-button upload" type="submit">UPLOAD XML</button>
      </div>
    </form>

    <form th:action="@{/objects}" method="get">
      <div class="button-box">
        <button class="menu-button see-objects" type="submit">IMPORTED OBJECTS</button>
      </div>
    </form>

    <form th:action="@{/logout}" method="post">
      <div class="button-box">
        <button class="menu-button logout" type="submit">LOG OUT</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>
