<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
  <title>Signup</title>
</head>
<body>
<div th:replace="topmenu :: topMenu"></div>
<div class="signup-container">
  <h1>SIGNUP</h1>
  <div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
  </div> <!-- Closing the error message div -->
  <div class="form-container">
    <form th:action="@{/signup}" th:object="${user}" method="post">
      <div class="input-box">
        <input type="text" placeholder="USERNAME" th:field="*{username}" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="E-MAIL" th:field="*{email}" required>
      </div>
      <div class="input-box">
        <input type="password" id="password" placeholder="PASSWORD" th:field="*{password}" required>
      </div>
      <div class="input-box">
        <input type="password" id="verifyPassword" placeholder="VERIFY PASSWORD" name="verifyPassword" required>
      </div>
      <div id="passwordMatchMessage" style="color: red; display: none;">
        Passwords do not match.
      </div>
      <div class="button-box">
        <button class="signup-button" type="submit">SIGNUP</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const password = document.getElementById('password');
    const verifyPassword = document.getElementById('verifyPassword');
    const passwordMatchMessage = document.getElementById('passwordMatchMessage');

    verifyPassword.addEventListener('input', function () {
      if (password.value !== verifyPassword.value) {
        passwordMatchMessage.style.display = 'block';
      } else {
        passwordMatchMessage.style.display = 'none';
      }
    });
  });
</script>